<p-toast></p-toast>
<div>
  <p-toolbar>
    <div class="p-toolbar-group-left flex-row flex align-items-center">
      <label for="searchID" class="mx-2">ID</label>
      <span id="searchID" class="p-float-label p-input-icon-right">
        <input
          (keydown.enter)="search()"
          type="text"
          pInputText
          placeholder="ID"
          [(ngModel)]="searchID"
        />
      </span>
      <label for="searchUser" class="mx-2">User Name</label>
      <p-dropdown
        id="searchUser"
        [options]="users"
        [(ngModel)]="selectedUser"
        optionLabel="full_name"
        placeholder="Select user"
      ></p-dropdown>
      <label for="searchStatus" class="mx-2">Status</label>
      <p-dropdown
        class="searchStatus"
        [options]="status"
        [(ngModel)]="selectedStatus"
        optionLabel="label"
        placeholder="Select status"
      ></p-dropdown>
      <label for="searchDate" class="mx-2">From</label>
      <p-calendar
        id="searchDate"
        [(ngModel)]="fromDate"
        [hourFormat]="'24'"
        dateFormat="mm/dd/yy"
        [showButtonBar]="true"
        [showIcon]="true"
      ></p-calendar>
      <label for="searchDate" class="mx-2">To</label>
      <p-calendar
        id="searchDate"
        [(ngModel)]="toDate"
        [hourFormat]="'24'"
        dateFormat="mm/dd/yy"
        [showButtonBar]="true"
        [showIcon]="true"
      ></p-calendar>
      <i class="pi pi-bars mx-2"></i>
      <button
        pButton
        icon="pi pi-refresh"
        class="p-button-outlined p-ripple"
        (click)="refreshFilter()"
      ></button>
      <button
        pButton
        icon="pi pi-search"
        class="p-button-outlined p-ripple ml-1"
        (click)="search()"
      ></button>
    </div>

    <div class="p-toolbar-group-right">
      <div *ngIf="isbuttonInRecord">
        <p-button
          label="New"
          icon="pi pi-plus"
          styleClass="p-button-success"
          [disabled]="true"
        ></p-button>
        <p-button
          label="Clear Record"
          icon="pi pi-times"
          styleClass="p-button-danger"
          [disabled]="true"
        ></p-button>
      </div>
      <div *ngIf="!isbuttonInRecord">
        <p-button
          label="New"
          icon="pi pi-plus"
          styleClass="p-button-success"
          (click)="modalRegDisplay = true"
        ></p-button>
        <p-button
          label="Clear Record"
          icon="pi pi-times"
          styleClass="p-button-danger"
          (click)="deleteConfirm()"
        ></p-button>
      </div>
    </div>
  </p-toolbar>
  <!-- <p-messages [(value)]="msg"></p-messages> -->
  <p-confirmDialog
    header="Confirmation"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>

  <p-table
    [value]="orderList!"
    [paginator]="true"
    [rows]="10"
    selectionMode="multiple"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="caption">
      <h2>List Order Type: {{ orderType | uppercase }}</h2>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="user_name">
          Curator<p-sortIcon field="user_name"></p-sortIcon>
        </th>
        <th pSortableColumn="customer_name">
          Customer Name<p-sortIcon field="customer_name"></p-sortIcon>
        </th>
        <th pSortableColumn="customer_phone">
          Customer Phone<p-sortIcon field="customer_phone"></p-sortIcon>
        </th>
        <th pSortableColumn="status">
          Status<p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="total_price">
          Total Price<p-sortIcon field="total_price"></p-sortIcon>
        </th>
        <th pSortableColumn="created_at">
          Create Date<p-sortIcon field="created_at"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.user_name }}</td>
        <td>{{ order.customer_name }}</td>
        <td>{{ order.customer_phone }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.total_price | currency: " " }} VND</td>
        <td>{{ order.created_at | date }}</td>
        <td>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-check-circle"
            (click)="modalDetailDisplay = true; selectOrder(order)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <div
        class="flex align-items-center justify-content-between"
        *ngIf="orderList!.length == 0"
      >
        Nothing in here
      </div>
    </ng-template>
  </p-table>
</div>
<p-dialog
  [style]="{ width: '90%', height: '70%' }"
  header="Detail Invoice"
  class="p-element ng-tns-c114-71 ng-star-inserted"
  [(visible)]="modalDetailDisplay"
  *ngIf="modalDetailDisplay"
>
  <p class="font-bold -mt-1">ID: {{ selectedOrder.id }}</p>
  <p class="font-bold -mt-2">Total Price: {{ selectedOrder.total_price }}</p>
  <p class="font-bold -mt-2">Status: {{ selectedOrder.status }}</p>
  <app-detail-order
    [parentOrder]="selectedOrder"
    styleClass="mt-3"
  ></app-detail-order>
</p-dialog>
<p-dialog
  header="Register New Order"
  class="p-element ng-tns-c114-71 ng-star-inserted"
  [style]="{ width: '95%' }"
  [(visible)]="modalRegDisplay"
  *ngIf="modalRegDisplay"
>
  <app-add-new-order></app-add-new-order>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-trash"
      label="Clear"
      styleClass="p-button-danger p-button-rounded"
      (click)="clearFunction()"
    ></p-button>
    <p-button
      label="Save"
      icon="pi pi-save "
      styleClass="p-button-info p-button-rounded"
      (click)="saveFunction()"
    ></p-button
  ></ng-template>
</p-dialog>
