<div style="display:flex ;">
    <p-calendar placeholder="Month" [(ngModel)]="pieChartDate" view="month" dateFormat="mm/yy" [readonlyInput]="true"
            inputId="monthpicker"></p-calendar>
    <p-button (click)="showModalDialogpie()" icon="pi pi-external-link" label="Show"></p-button>
</div>
<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button label="1 tháng" icon="pi pi-plus"></p-button>
        <p-button label="3 tháng" icon="pi pi-upload" styleClass="p-button-success"></p-button>
        <p-button label="6 tháng" icon="pi pi-upload" styleClass="p-button-success"></p-button>    
        <!-- <i class="pi pi-bars"></i> -->
    </div>
    
    <div class="p-toolbar-group-right">
        <!-- <p-button icon="pi pi-search"></p-button>
        <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
        <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button> -->
    </div>
</p-toolbar>
<div class="container" style="display:flex ;">
    <div class="chart" style="width:40% ;">
    <div class="doughnut" style="width:70%; padding-left: 20% ;">
        <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '20%'}"></p-chart>
    </div>
    <div class="pie" style="width: 100%;display: flex;padding-top: 1%;padding-left: 1%;">
        <label for="export-chart" style="font-weight:bold ;text-align:center ;">Ex</label>
        <p-chart id="export-chart" type="pie" [data]="datapie" [options]="chartOptions"  [style]="{'width': '50%'}"></p-chart>
        <label for="import-chart" style="font-weight:bold ;text-align:center ;">Im</label>
        <p-chart id="import-chart" type="pie" [data]="datapie1" [options]="chartOptions"  [style]="{'width': '50%'}"></p-chart>
    </div>
</div>
<div class="card" style="width:50%;padding-left: 10%;">
        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
    
    
</div>