<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <div>
        <h3>Trading Type: {{ orderType | uppercase }}</h3>
        <p>Create date: {{ createDate | date }}</p>
      </div>
      <!-- <i class="pi pi-bars mx-2"></i> -->
      <!-- <p-button
        label="Save"
        icon="pi pi-save "
        styleClass="p-button-info p-button-rounded p-button-outlined"
        (click)="saveFunction()"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        label="Clear"
        styleClass="p-button-success p-button-rounded p-button-outlined"
        (click)="clearFunction()"
      ></p-button> -->
    </div>
    <div class="p-toolbar-group-right">
      <h1>{{ totalPrice | currency: " " }} VND</h1>
    </div>
  </p-toolbar>
  <div class="flex flex-row">
    <div class="col-3">
      <p-tabView>
        <p-tabPanel header="Detail">
          <div class="flex flex-column flex-wrap">
            <span class="flex flex-column flex-wrap">
              <label for="username" class="mb-1">User Name</label>
              <div>
                <p-dropdown
                  id="username"
                  [options]="userList"
                  [(ngModel)]="selectedUser"
                  optionLabel="full_name"
                ></p-dropdown>
                <button
                  pButton
                  icon="pi pi-user "
                  class="ml-5 p-button-outlined p-button-rounded"
                ></button>
              </div>
            </span>
            <span class="flex flex-column flex-wrap mt-2">
              <label for="username" class="mb-1">Phone</label>
              <input
                id="username"
                type="text"
                pInputText
                class=""
                [value]="selectedUser.tel"
                disabled
              />
            </span>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Customer">
          <div class="flex flex-column">
            <label for="cname" class="mb-1">Customer Name</label>
            <input
              id="cname"
              type="text"
              [(ngModel)]="customerName"
              pInputText
              placeholder="Name"
              required
            />
            <!-- <small id="email-help" class="ng-invalid">Not a valid name.</small> -->
          </div>
          <div class="flex flex-column mt-2">
            <label for="cphone" class="mb-1">Customer Phone</label>
            <input
              id="cphone"
              type="text"
              [(ngModel)]="customerPhone"
              pInputText
              placeholder="Phone"
            />
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="col-9" pDroppable="products" (onDrop)="drop()">
      <p-table class="" [value]="selectedProductList">
        <ng-template pTemplate="header">
          <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Provider</th>
            <th>Unit</th>
            <th>Price</th>
            <th>Amount</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-index="rowIndex">
          <tr class="line-height-3">
            <td>{{ product.category_name }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.provider_name }}</td>
            <td>{{ product.unit }}</td>
            <td>{{ product.price | currency: " " }} VND</td>
            <td>
              <input
                pInputText
                type="text"
                [(ngModel)]="product.order_amount"
                [(value)]="product.order_amount"
                (input)="checkAmount(index, $event); updateTotalPrice()"
                required
              />
            </td>
            <td>
              <p-button
                type="button"
                icon="pi pi-times"
                class="p-button-raised p-button-rounded p-button-outlined"
                (click)="popOut(index)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="col-12 drag-column">
    <p-table [value]="productList" [paginator]="true" [rows]="5">
      <ng-template pTemplate="caption">
        <label> Products </label>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="w-10rem">ID</th>
          <th>Product name</th>
          <th>Category name</th>
          <th>Provider name</th>
          <th>Provider address</th>
          <th>Amount</th>
          <th>Unit</th>
          <th>status</th>
          <th>price</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr
          pDraggable="products"
          (onDragStart)="dragStart(product)"
          (onDragEnd)="dragEnd()"
        >
          <td class="w-10rem">{{ product.id }}</td>
          <td>{{ product.product_name }}</td>
          <td>{{ product.category_name }}</td>
          <td>{{ product.provider_name }}</td>
          <td>{{ product.provider_address }}</td>
          <td>{{ product.amount }}</td>
          <td>{{ product.unit }}</td>
          <td>{{ product.category_status }}</td>
          <td>{{ product.price | currency: " " }} VND</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex align-items-center justify-content-between">
          Total: {{ productList ? productList.length : 0 }} products
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
