<p>category works!</p>
<div class="ui-g">
  <p-toast></p-toast>
  <p-confirmDialog
    header="Confirmation"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>
  <p-panel
    header="danh sach loai hang"
    [toggleable]="true"
    [style]="{ width: '100%' }"
  >
    <div style="margin-bottom: 20px">
      <p-menubar [model]="items1"></p-menubar>
    </div>
    <ng-template pTemplate="icons">
      <button
        pButton
        class="p-panel-header-icon p-link"
        icon="pi pi-cog"
        (click)="menu.toggle($event)"
      ></button>
      <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>

    <p-table
      [value]="product"
      styleClass="p-datatable-gridlines"
      [paginator]="true"
      [rows]="10"
      selectionMode="single"
      [(selection)]="selectedProduct"
      dataKey="id"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="name">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="unit">
            Unit <p-sortIcon field="unit"></p-sortIcon>
          </th>
          <th pSortableColumn=" amount">
            Amount <p-sortIcon field=" amount"></p-sortIcon>
          </th>
          <th pSortableColumn="price">
            Price <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th pSortableColumn="category_id">
            Category_id <p-sortIcon field="category_id"></p-sortIcon>
          </th>
          <th pSortableColumn="provider_id">
            Provider_id <p-sortIcon field="provider_id"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr [pSelectableRow]="product">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.unit }}</td>
          <td>{{ product.amount }}</td>
          <td>{{ product.Price }}</td>
          <td>{{ product.Category_id }}</td>
          <td>{{ product.Provider_id }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
  <p-dialog
    header="Nueva product"
    [(visible)]="displaySaveDiglog"
    [style]="{ width: '400px' }"
  >
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_ID">Id</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="id"
            #addid
            [style]="{ width: '350px' }"
            [(ngModel)]="addProduct.id"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_Name">Name</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="name"
            #addname
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProduct.name"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_unit">Unit</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProduct.unit"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_amount">Amount</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProduct.amount"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_price">Price</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProduct.price"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_category_id">category_id</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProduct.category_id"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_provoder_id">provider_id</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProduct.provider_id"
          />
        </div>
      </div>
    </div>

    <p-footer>
      <p-button
        label="Save"
        styleClass="ui-button-info"
        (click)="save()"
        icon="pi pi-check-circle"
      ></p-button>
    </p-footer>
  </p-dialog>
</div>
