<div class="ui-g">
  <p-toast></p-toast>
  <p-confirmDialog
    header="Confirmation"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>
  <p-panel
    header="Products List"
    [toggleable]="true"
    [style]="{ width: '100%' }"
  >
    <div style="margin-bottom: 20px">
      <p-menubar [model]="items1">
        <div class="flex flex-rows flex-wrap">
          <span class="p-input-icon-left">
            <label for="" style="font-weight: bold; font-size: 15px"
              >Product Name</label
            >
            <input
              class="mr-3"
              [(ngModel)]="tenhang"
              class="mx-2"
              type="text"
              #tenhanghoa
              (keyup.enter)="
                search(tenhanghoa.value, loaihanghoa.value, nhacungcap.value)
              "
              placeholder="Search Product Name..."
              pInputText
            />
          </span>
          <span class="p-input-icon-left">
            <label
              class="mx-2"
              for=""
              style="font-weight: bold; font-size: 15px"
              >Category Name</label
            >
            <input
              [(ngModel)]="loaihang"
              class="ml-3"
              class="mr-3"
              type="text"
              #loaihanghoa
              (keyup.enter)="
                search(tenhanghoa.value, loaihanghoa.value, nhacungcap.value)
              "
              placeholder="Search Category Name..."
              pInputText
            />
          </span>
          <span class="p-input-icon-left">
            <label for="" style="font-weight: bold; font-size: 15px"
              >Provider Name</label
            >
            <input
              class="mr-3"
              class="mx-2"
              [(ngModel)]="nhacap"
              class="ml-2"
              type="text"
              #nhacungcap
              (keyup.enter)="
                search(tenhanghoa.value, loaihanghoa.value, nhacungcap.value)
              "
              placeholder="Search Provider Name ..."
              pInputText
            />
          </span>
          <div class="ml-5">
            <button
              icon="pi pi-search"
              pButton
              type="button"
              label="Search"
              (click)="
                search(tenhanghoa.value, loaihanghoa.value, nhacungcap.value)
              "
            ></button>
          </div>
          <div class="ml-5">
            <button
              pButton
              icon=" pi pi-refresh"
              type="button"
              label="Refresh"
              class="p-button-outlined"
              (click)="refrsesh()"
            ></button>
          </div>
        </div>
      </p-menubar>
    </div>
    <ng-template pTemplate="icons">
      <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>

    <p-table
      [value]="productList"
      styleClass="p-datatable-gridlines"
      [paginator]="true"
      [rows]="10"
      selectionMode="single"
      [(selection)]="selectedProduct"
      dataKey="id"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="product_name">
            Product Name <p-sortIcon field="product_name"></p-sortIcon>
          </th>
          <th pSortableColumn="unit">
            Unit <p-sortIcon field="unit"></p-sortIcon>
          </th>
          <th pSortableColumn=" amount">
            Amount <p-sortIcon field=" amount"></p-sortIcon>
          </th>
          <th pSortableColumn="price">
            Price <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th pSortableColumn="category_name">
            Category Name <p-sortIcon field="category_name"></p-sortIcon>
          </th>
          <th pSortableColumn="provider_name">
            Provider Name <p-sortIcon field="provider_name"></p-sortIcon>
          </th>
          <th pSortableColumn="provider_address">
            Provider Address <p-sortIcon field="provider_address"></p-sortIcon>
          </th>
          <th pSortableColumn="category_status">
            Category Status <p-sortIcon field="category_status"></p-sortIcon>
          </th>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr [pSelectableRow]="product">
          <td>{{ product.id }}</td>
          <td>{{ product.product_name }}</td>
          <td>{{ product.unit }}</td>
          <td>{{ product.amount }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.category_name }}</td>
          <td>{{ product.provider_name }}</td>
          <td>{{ product.provider_address }}</td>
          <td>{{ product.category_status }}</td>

          <td>
            <div style="display: flex; flex-direction: row">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-success p-mr-2"
                (click)="showSaveDialog(true)"
              ></button>
              <p class="mx-1"></p>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-danger p-mr-2"
                (click)="deletecategory()"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
  <p-dialog
    header="Add product "
    [(visible)]="displaySaveDiglog"
    [style]="{ width: '500px' }"
  >
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_Name">Name</label>
        </div>
        <div class="ui-g-8">
          <input
            class="my-3"
            pInputText
            id="name"
            #addname
            [style]="{ width: '400px' }"
            required
            [(ngModel)]="addProduct.name"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_unit">Unit</label>
        </div>
        <div class="ui-g-8">
          <input
            class="my-3"
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '400px' }"
            required
            [(ngModel)]="addProduct.unit"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_amount">Amount</label>
        </div>
        <div class="ui-g-8">
          <input
            readonly
            class="my-3"
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '400px' }"
            required
            [(ngModel)]="addProduct.amount"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_price">Price</label>
        </div>
        <div class="ui-g-8">
          <input
            class="my-3"
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '400px' }"
            required
            [(ngModel)]="addProduct.price"
          />
        </div>
      </div>
      <!-- <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_category_id">category_id</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '400px' }"
            required
            [(ngModel)]="addProduct.category_id"
          />
        </div>
      </div> -->
      <!-- <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_provoder_id">provider_id</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '400px' }"
            required
            [(ngModel)]="addProduct.provider_id"
          />
        </div>
      </div> -->
      <label for="">Category Name</label><br />
      <p-dropdown
        styleClass="my-3"
        [options]="Categories"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
      >
      </p-dropdown
      ><br />
      <label for="">Provider Name</label><br />
      <p-dropdown
        styleClass="my-3"
        [options]="Providers"
        [(ngModel)]="selectedProvider"
        optionLabel="name"
      ></p-dropdown>
    </div>

    <p-footer>
      <p-button
        label="Save"
        styleClass="ui-button-info"
        (click)="save()"
        icon="pi pi-check-circle"
      ></p-button>
    </p-footer>
  </p-dialog>
</div>
