<div class="ui-g">
  <p-toast></p-toast>
  <p-confirmDialog
    header="Confirmation"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>
  <p-panel
    header="Products List"
    [toggleable]="true"
    [style]="{ width: '100%' }"
  >
    <div style="margin-bottom: 20px">
      <p-menubar [model]="items1">
        <div class="flex flex-rows flex-wrap">
          <span class="p-input-icon-left">
            <input
              [(ngModel)]="tenhang"
              class="ml-2"
              type="text"
              #tenhanghoa
              (blur)="
                search(tenhanghoa.value, loaihanghoa.value, nhacungcap.value)
              "
              (keyup.enter)="
                search(tenhanghoa.value, loaihanghoa.value, nhacungcap.value)
              "
              placeholder="Search Ten Hang..."
              pInputText
            />
          </span>
          <span class="p-input-icon-left">
            <input
              [(ngModel)]="loaihang"
              class="ml-2"
              type="text"
              #loaihanghoa
              (blur)="
                search(tenhanghoa.value, loaihanghoa.value, nhacungcap.value)
              "
              (keyup.enter)="
                search(tenhanghoa.value, loaihanghoa.value, nhacungcap.value)
              "
              placeholder="Search Loai Hang..."
              pInputText
            />
          </span>
          <span class="p-input-icon-left">
            <input
              [(ngModel)]="nhacap"
              class="ml-2"
              type="text"
              #nhacungcap
              (blur)="
                search(tenhanghoa.value, loaihanghoa.value, nhacungcap.value)
              "
              (keyup.enter)="
                search(tenhanghoa.value, loaihanghoa.value, nhacungcap.value)
              "
              placeholder="Search Nhà Cung Cap ..."
              pInputText
            />
          </span>
          <div class="ml-5">
            <button
              icon="pi pi-search"
              pButton
              type="button"
              label="search"
              (click)="
                search(tenhanghoa.value, loaihanghoa.value, nhacungcap.value)
              "
            ></button>
          </div>
          <div class="ml-5">
            <button
              pButton
              icon=" pi pi-refresh"
              type="button"
              label="Refresh"
              class="p-button-outlined"
              (click)="refrsesh()"
            ></button>
          </div>
        </div>
      </p-menubar>
    </div>
    <ng-template pTemplate="icons">
      <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>

    <p-table
      [value]="productList"
      styleClass="p-datatable-gridlines"
      [paginator]="true"
      [rows]="10"
      selectionMode="single"
      [(selection)]="selectedProduct"
      dataKey="id"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="product_name">
            product_name <p-sortIcon field="product_name"></p-sortIcon>
          </th>
          <th pSortableColumn="unit">
            Unit <p-sortIcon field="unit"></p-sortIcon>
          </th>
          <th pSortableColumn=" amount">
            Amount <p-sortIcon field=" amount"></p-sortIcon>
          </th>
          <th pSortableColumn="price">
            Price <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th pSortableColumn="category_name">
            Category_name <p-sortIcon field="category_name"></p-sortIcon>
          </th>
          <th pSortableColumn="provider_name">
            provider_name <p-sortIcon field="provider_name"></p-sortIcon>
          </th>
          <th pSortableColumn="provider_address">
            provider_address <p-sortIcon field="provider_address"></p-sortIcon>
          </th>
          <th pSortableColumn="category_status">
            category_status <p-sortIcon field="category_status"></p-sortIcon>
          </th>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr [pSelectableRow]="product">
          <td>{{ product.id }}</td>
          <td>{{ product.product_name }}</td>
          <td>{{ product.unit }}</td>
          <td>{{ product.amount }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.category_name }}</td>
          <td>{{ product.provider_name }}</td>
          <td>{{ product.provider_address }}</td>
          <td>{{ product.category_status }}</td>

          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-mr-2"
              (click)="showSaveDialog(true)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deletecategory()"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
  <p-dialog
    header="Nueva product"
    [(visible)]="displaySaveDiglog"
    [style]="{ width: '400px' }"
  >
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_Name">Name</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="name"
            #addname
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProduct.name"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_unit">Unit</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProduct.unit"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_amount">Amount</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProduct.amount"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_price">Price</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProduct.price"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_category_id">category_id</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProduct.category_id"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_provoder_id">provider_id</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProduct.provider_id"
          />
        </div>
      </div>
    </div>

    <p-footer>
      <p-button
        label="Save"
        styleClass="ui-button-info"
        (click)="save()"
        icon="pi pi-check-circle"
      ></p-button>
    </p-footer>
  </p-dialog>
</div>
