<div class="mt-8 mb-5 ml-2">
    <div class="flex">
        <div>
            <label>Ma Hoa Don</label>
            <input class="ml-2" #mahoadon type="text" pInputText />
        </div>
        <div>
            <label class="ml-5">Thoi gian</label>
            <p-calendar class="ml-2" placeholder="time"  #searchtime></p-calendar>
        </div>
        <div class="ml-5">
            <p-dropdown  [options]="type_tradings" #loaihoadon placeholder="Chon loai hoa don" optionLabel=""
            [showClear]="true">
        </p-dropdown>
        </div>
        <div class="ml-5">
            <p-dropdown *ngIf="users"  [options]="users" [(ngModel)]="nhanvien" placeholder="Chon nhan vien" optionLabel="full_name"
            [showClear]="true">
        </p-dropdown>
        </div>
        <div class="ml-5">
            <button pButton type="button" label="search"
             (click)="Search(mahoadon.value,searchtime.value, loaihoadon.value)"></button>
        </div>
    </div>
</div>
<p-table [value]="orders">
    <ng-template pTemplate="header" let-order>
        <tr>
            <th>mã đơn hàng</th>
            <th>ngày tháng yêu cầu</th>
            <th>tổng tiền</th>
            <th>lý do</th>
            <th>trạng thái của đơn hàng</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.created_at}}</td>
            <td>{{order.total_price}}</td>
            <td>{{order.description}}</td>
            <td>{{order.status}}</td>
            <td><button (click)="detailOrder(order)"><i class="pi pi-check"></i></button></td>
        </tr>
    </ng-template>
</p-table>
<p-dialog position="top" header="GeeksforGeeks" [(visible)]="geeks">
    <p-dropdown class="mr-8" [options]="statuss" #status placeholder="Select a Language" optionLabel=""
        [showClear]="true">
    </p-dropdown>
    <input #desciption type="text" class="p-inputtext-lg" placeholder="Input text here" pInputText />
    <button class="ml-8" *ngIf="order" pButton type="button" label="Click"
        (click)="updateOrder(order, desciption.value, status.value)"></button>
    <div *ngIf="order">
        <p>{{order.id}}</p>
        <p>{{order.created_at}}</p>
        <p>{{orderDetail[0].nameuser}}</p>
        <p-table [value]="orderDetail">
            <ng-template pTemplate="header" let-order>
                <tr>
                    <th>Tên hàng</th>
                    <th>Loại hàng</th>
                    <th>Nhà cung cấp</th>
                    <th>Số lượng</th>
                    <th>Giá tiền</th>
                    <th>Tổng tiền</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-oorder>
                <tr>
                    <td>{{oorder.namesanpham}}</td>
                    <td>{{oorder.loai}}</td>
                    <td>{{oorder.nhacungcap}}</td>
                    <td>{{oorder.soluong}}</td>
                    <td>{{oorder.gia}}</td>
                    <td>{{oorder.soluong*oorder.gia}}</td>
                </tr>
            </ng-template>
        </p-table>
        <!-- //<p>{{order.total_price}}</p> -->
    </div>

</p-dialog>