<div class="container">
<p style="text-align:center;font-weight: 1000; font-size: 150%;">BIỂU ĐỒ DOANH THU XUẤT NHẬP THEO THÁNG</p>
<div class=" field col-12 md:col-4 " style="float: right;padding-left: 15%;">
    <p-calendar placeholder="Month" [(ngModel)]="date9"  view="month" dateFormat="mm/yy" [readonlyInput]="true" inputId="monthpicker"></p-calendar>
    
    <p-button label="Search" icon="pi pi-search" [loading]="loading[0]" (onClick)="load(0)"></p-button>
</div>


<div class="card" style="width:80%;height: 700px; padding-left: 10%;">
    <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
</div>
</div>