<div class="ui-g">
  <p-toast></p-toast>
  <p-confirmDialog
    header="Confirmation"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>
  <p-panel
    header="  Provider List"
    [toggleable]="true"
    [style]="{ width: '100%' }"
  >
    <div style="margin-bottom: 20px">
      <p-menubar [model]="items1">
        <div class="flex flex-rows flex-wrap">
          <span class="p-input-icon-left">
            <label for="" style="font-weight: bold; font-size: 15px"
              >Address</label
            >
            <input
              [(ngModel)]="diachi"
              class="ml-2 my-3 mx-2"
              type="text"
              #address
              (keyup.enter)="search(address.value, tel.value)"
              placeholder="Search Address..."
              pInputText
            />
          </span>
          <span class="p-input-icon-left">
            <label for="" style="font-weight: bold; font-size: 15px">Tel</label>
            <input
              class="ml-2 my-3 mx-2"
              [(ngModel)]="sdt"
              type="text"
              #tel
              (keyup.enter)="search(address.value, tel.value)"
              placeholder="Search Tel ..."
              pInputText
            />
          </span>
          <div class="ml-5">
            <button
              class="ml-2 my-3 mx-2"
              icon="pi pi-search"
              pButton
              type="button"
              label="Search"
              (click)="search(address.value, tel.value)"
            ></button>
          </div>
          <div class="ml-5 ml-2 my-3 mx-2">
            <button
              pButton
              icon=" pi pi-refresh"
              type="button"
              label="Refresh"
              class="p-button-outlined"
              (click)="refrsesh()"
            ></button>
          </div>
        </div>
      </p-menubar>
    </div>
    <ng-template pTemplate="icons">
      <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>

    <p-table
      [value]="provider"
      styleClass="p-datatable-gridlines"
      [paginator]="true"
      [rows]="10"
      selectionMode="single"
      [(selection)]="selectedProvider"
      dataKey="id"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="name">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="address">
            Address <p-sortIcon field="address"></p-sortIcon>
          </th>
          <th pSortableColumn="tel">
            Tel <p-sortIcon field="tel"></p-sortIcon>
          </th>
          <th pSortableColumn="status">
            Status <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-provider>
        <tr [pSelectableRow]="provider">
          <td>{{ provider.id }}</td>
          <td>{{ provider.name }}</td>
          <td>{{ provider.address }}</td>
          <td>{{ provider.tel }}</td>
          <td>{{ provider.status }}</td>
          <td>
            <div style="display: flex; flex-direction: row">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-success p-mr-2"
                (click)="showSaveDialog(true)"
              ></button>
              <p class="mx-1"></p>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-danger p-mr-2"
                (click)="deletecategory()"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
  <p-dialog
    header="Add Provider"
    [(visible)]="displaySaveDiglog"
    [style]="{ width: '400px' }"
  >
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_Name">Name</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="name"
            #addname
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProvider.name"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_Address">Address</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="name"
            #addname
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProvider.address"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_Tel">Tel</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="name"
            #addname
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProvider.tel"
          />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="Input_Status">Status</label>
        </div>
        <div class="ui-g-8">
          <input
            pInputText
            id="status"
            #addstatus
            [style]="{ width: '350px' }"
            required
            [(ngModel)]="addProvider.status"
          />
        </div>
      </div>
    </div>
    <p-footer>
      <p-button
        label="Save"
        styleClass="ui-button-info"
        (click)="save()"
        icon="pi pi-check-circle"
      ></p-button>
    </p-footer>
  </p-dialog>
</div>
